* {
    margin:0;
    padding: 0;
    border:none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
ul {
    list-style: none;
}
.clear {
    line-height: 0;
    height:0;
    font-size: 0;
    clear:both;
}
html {
    height:100%;
    position: relative;
}
body {
    background:#020202;
    height: 100%;
    font-family: Arial;
}
#wrapper {
    width:100%;
    height:100%;
    position: relative;
}
#header {
    vertical-align: top;
    text-align: center;
    height:193px
}
#header-inner {
    width:1000px;
    height:143px;
    margin:0 auto;
    text-align: left;
}
#header-inner .left {
    float: left;
    width:344px;
    height:71px;
    padding-top:72px;
}
#header-inner .right {
    float: left;
    width:656px;
    height:143px;
    color:#c3c3c3;
    font-size: 14px;
    font-family: Arial;
}
#promo {
    vertical-align: top;
    text-align: center;
    height:256px
}
#promo-inner {
    width:1000px;
    height:316px;
    text-align: left;
    margin:0 auto;
    position: relative;
	color:#fff;
}
#promo-inner .promo-block {
    width:1000px;
    height:268px;
    text-align: left;
    margin:0 auto;
    position: relative;
	color:#fff;
	padding:24px 0;
	float:left;
}
#content {
    vertical-align: middle;
    text-align: center;
}
#content-inner {
    width:1000px;
    text-align: left;
    margin:0 auto;
    position: relative;
}
#content .separator-big {
    line-height: 14px;
    font-size: 14px;
    color:#b9b9b9;
    background:url(../images/mapping/separator_big.jpg) 50% 100% no-repeat;
    float: left;
    width:800px;
    margin-top: 30px;
    text-align: right;
    padding:0 100px 17px;
    font-family: Arial;
}
#content .separator-small {
    height:2px;
    line-height: 0;
    font-size: 0;
    background:url(../images/mapping/separator_small.jpg) 50% 50% no-repeat;
    float: left;
    width:1000px;
    margin-bottom: 30px;
}
#content-inner h1 {
	font-family:Arial;
	font-size:30px;
	font-weight:normal;
    margin-bottom: 50px;
}
#content-inner h2 {
	font-family:Arial;
	font-size:18px;
	font-weight:normal;
    margin-bottom: 5px;
}
#content-inner .left {
	float:left;
	width:560px;
	padding-left:60px;
	font-size:18px;
	color:#ffffff;
}
#content-inner .left p {
    color:#999999;
    margin-bottom: 30px;
}
#content-inner .right p {
    font-size: 14px;
    margin-bottom: 30px;
}
#content-inner .left h1 {
	color:#ffffff;
}
#content-inner .rihgt h2 {
    font-size:17px;
}
#content-inner .left .row {
	float:left;
	clear:both;
	width:435px;
}
#content-inner .left .row.required-text {
	padding:0 0 50px;
}
/**/
#content-inner .left .row label {
    float: left;
    width:200px;
    text-align: left;
    line-height: 40px;
}
#content-inner .left .row label span{
	line-height:18px;
	color:#888888;
	margin-top:-10px;
	float:left;
	clear:both;
}
#content-inner .left .row input {
    width:205px;
    height:40px;
    background:transparent url(../images/mapping/input.png) 0 0 no-repeat;
    float: right;
    line-height: 40px;
    margin-bottom: 40px;
    padding:0 10px;
    color:#555555;
}
#content-inner .left .row textarea {
    width:205px;
    height:210px;
    background:transparent url(../images/mapping/textarea.png) 0 0 no-repeat;
    float: right;
    margin-bottom: 40px;
    padding:10px;
    color:#555555;
    resize: none;
    overflow: auto;
}
#content-inner .left .row.buttons input {
    width:227px;
    height:42px;
    background:transparent url(../images/mapping/send_red.png) 0 0 no-repeat;
    float: right;
	cursor:pointer;
}
/**/
#content-inner .right {
	float:left;
	width:304px;
	color:#b8b8b8;
	padding-left:76px;
}
#content-inner .right h1 {
	color:#b9b9b9;
}
#footer {
    height:98px;
    vertical-align: top;
    text-align: center;
    font-size: 12px;
    line-height: 12px;
}
#footer-inner {
    height:98px;
    color:#c1c0c0;
}
#menu-bottom {
    width:555px;
    margin:0 auto;
    height:113px;
    position: relative;
    overflow: hidden;
}
#menu-bottom li {
    float: left;
    height:113px;
    line-height: 113px;
}
#menu-bottom li a {
    display: block;
    float: left;
    height:113px;
    line-height: 113px;
    padding:0 20px;
    font-family: Tahoma;
    font-size: 12px;
    color:#c1c0c0;
    text-decoration: none;
}
/*---*/
#menu-top {
    height:143px;
    width:656px;
    float: left;
}
#menu-top a {
    text-decoration: none;
}
#menu-top .auth {
    height:87px;
    width:656px;
    float: left;
    position: relative;
}
#menu-top .help {
    height:46px;
    width:610px;
    float: right;
    padding:0 0 0 0;
}
#menu-top .auth li {
    float: right;
    margin-left: -70px;
    width:144px;
}
#menu-top .auth .register {
    height:35px;
    width:144px;
    z-index: 2;
    display: block;
    background:url(../images/mapping/register_mini.png) 0 0 no-repeat;
}
#menu-top .auth .register:hover {
    background-position: 0 -35px;
}
#menu-top .auth .login {
    display: block;
    height:35px;
    width:157px;
    top:0;
    right:0;
    z-index: 1;
    background:url(../images/mapping/enter_mini.png) 0 0 no-repeat;
}
#menu-top .auth .login:hover {
    background-position: 0 -35px;
}
#menu-top .help li a {
    display: block;
    float: left;
    height:46px;
}
#menu-top .help li {
    float: left;
    line-height: 46px;
}
#menu-top .help li a {
    display: block;
    float: left;
    height:46px;
    padding-left:56px;
    line-height: 46px;
    color:#c3c3c3;
    font-size: 14px;
    font-family: Arial;
    text-decoration: underline;
    background-position: 0 0;
    background-repeat: no-repeat;
    margin-left: 30px;
}
#menu-top .help li a:hover {
    background-position: 0 -46px;
    text-decoration: none;
}
#menu-top .help li a.regulations {
    background-image: url(../images/mapping/regulations.png);
}
#menu-top .help li a.feedback {
    background-image: url(../images/mapping/feedback.png);
}
#menu-top .help li a.purchase {
    background-image: url(../images/mapping/purchase.png);
}
#scroller-outer {
	margin-left:-38px;
	margin-right:-20px;
	width:324px;
	position:relative;
    margin-top: -50px;
}
#scroller {
	width:324px;
	position:relative;
}
#scroller-outer table {
	width:284px;
}
.scroller-image {
	background: url(../images/mapping/scroller_img_bg.jpg) 50% 50% no-repeat;
	width:284px;
	height:265px;
	text-align:center;
	vertical-align:middle;
}
.scroller-title {
	width:208px;
	text-align:left;
	vertical-align:top;
	font-size:18px;
	padding:0 38px;
}
.scroller-description {
	width:208px;
	text-align:left;
	vertical-align:top;
	font-size:12px;
	padding:0 38px;
}
#scroller-outer.scrollpane {
	height:982px;
}
#scroller-outer.scrollpane #scroller {
	height:982px;
    padding:100px 0;
}
#scroller-outer .top-shadow, #scroller-outer .bottom-shadow {
    position:absolute;
    display:none;
	width:284px;
	height:100px;
    left:0;
	background-image:url(../images/mapping/slider-shadow.png);
    z-index: 2;
}
#scroller-outer .top-shadow {
	top:0;
	background-position:50% 0;
}
#scroller-outer .bottom-shadow {
	bottom:0;
	background-position:50% -100px;
}
#scroller-outer.scrollpane .top-shadow, #scroller-outer.scrollpane .bottom-shadow {
	display:block;
	
}

input.error {
    color: red !important;
}

